<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-ug__rOa7b_vNpsZ_-AavhEy_wFCK6mg</string>
	<key>GCM_SENDER_ID</key>
	<string>819515081304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.appcircle.dashboard</string>
	<key>PROJECT_ID</key>
	<string>appcircle-ed35b</string>
	<key>STORAGE_BUCKET</key>
	<string>appcircle-ed35b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819515081304:ios:3c8d52a91c0eca90fc402d</string>
</dict>
</plist>